<!doctype html>
<html ng-app="frtSocketIOChatClient">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Firat's Sample Chat App (w/ Node.js & Socket.io & AngularJS)</title>

    <!-- CSS INCLUDES -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- JS INCLUDES -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <!-- <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/js/client_app.js" type="text/javascript"></script>

</head>

<body ng-controller="mySocketIOClientCtrl" ng-cloak>

    <div ng-show="step == 1" class="step1-wrapper">

        <h2>Firat's Sample Chat App (w/ Node.js & Socket.io & AngularJS)</h2>

        <p>Enter a user name and get into the chat room!</p>

        <input type="text" name="tbx-username" ng-model="userName" placeholder="Enter Your Username" ng-keypress="$event.which==13 ? letMeIn() : ''" />
        <br />
        <input type="button" name="btn-letmein" ng-click="letMeIn()" value="Get Into the Chat Room" />

    </div>

    <div ng-show="step == 2" class="step2-wrapper">

        <div id="left-div">
		
			<div>
                <b>ME:</b> {{me.userName}} (#{{me.id}})
                <button class="right" ng-click="exitChat()">Exit</button>
            </div>

            <h3>MESSAGES ({{messages.length}})</h3>
            <div id="messages-wrapper">
                <table cellpadding="4">
                    <tr>
                        <th style="text-align:left;">Sender</th>
                        <th style="text-align:left;">Message</th>
                        <th style="width:175px;">Send Time</th>
                    </tr>
                    <tr ng-repeat="m in messages">
                        <td style="font-weight:bold;">
							<span style="color:mediumblue;" ng-if="m.senderUserId!=me.id">{{m.senderUserName}} (#{{m.senderUserId}})</span>
							<span style="color:green;" ng-if="m.senderUserId==me.id">Me</span>
						</td>
                        <td ng-style="{'text-align': m.senderUserId!=me.id ? 'left' : 'right'}">
							<span style="display: inline-block; padding: 4px 8px; border-radius: 10px;" ng-style="{'background-color': m.senderUserId==me.id ? 'lightskyblue' : 'lavenderblush' }">{{m.messageText}}</span>
						</td>
                        <td style="text-align:center;">{{m.messageTimestamp | date:'MMM d, y h:mm a'}}</td>
                    </tr>
                </table>
            </div>

            <div id="typers-wrapper" ng-show="typers.length > 0">
                <span>{{typers[0].userName}}{{typers.length > 2 ? ',' : ''}}</span>
                <span ng-if="typers.length == 2"> and {{typers[1].userName}} </span> 
                <span ng-if="typers.length > 2"> {{typers[1].userName}} and {{typers.length-2}} other{{typers.length-2 > 1 ? 's' : ''}} </span> 
                {{typers.length > 1 ? 'are' : 'is'}} typing...
            </div>
			
			<input type="text" ng-model="messageText" placeholder="Your Message" style="width:calc(69% - 35px); padding:4px; position:absolute; bottom:16px;" ng-keydown="messageBoxKeydown($event)" />
            <input type="button" ng-click="messageSend()" value="Send" style="position:absolute; bottom:19px; left:calc(69% - 58px);" />
        </div>

        <div id="middle-separator"></div>

        <div id="users-wrapper">
            <h3>USERS ({{userList.length}})</h3>
            <table cellpadding="4" style="display:inline-block;">
                <tr>
                    <th>User</th>
                </tr>
                <tr ng-repeat="u in userList">
                    <td>{{u.userName}} (#{{u.id}}) <span ng-if="u.id==me.id" style="color:green; font-weight:bold;">(Me)</span></td>
                </tr>
            </table>
        </div>

        <div class="clear"></div>

    </div>

</body>

</html>
